-- min ve max kullanımı


select MAX(sayfasayisi) from kitap
select Min(sayfasayisi) from kitap

--select kitapAdi,sayfasayisi from kitap
--where sayfasayisi=(select MAX(sayfasayisi) from kitap)

--select kitapAdi,sayfasayisi from kitap
--where sayfasayisi=(select MIN(sayfasayisi) from kitap)