--select LOWER(kitapadi)from Kitap
--select upper(kitapozeti)from Kitap
--
--select kitapadi, LEN(kitapadi)as "harf sayısı" from Kitap
--
--Select LTRIM(kitapadi)from kitap 
--Select RTRIM(kitapadi)from kitap 
--
--select LEFT(kitapadi,3) from kitap
--select RIGHT(kitapadi,4) from kitap
--SELECT kitapadi FROM kitap WHERE LEFT(kitapadi, 1) = RIGHT(kitapadi, 1)
--select kitapadi, SUBSTRING(kitapadi,2,3) from kitap -- mid gibi
--
--Select kitapadi, REPLACE(kitapadi,'a','A') from kitap 
--Select kitapadi, REPLACE(kitapadi,'  ','-') from kitap  
--select ASCII(kitapadi) from kitap
--select CHAR(65) -- A harfini döndürür
--select REVERSE(kitapadi) from kitap

--select 'altan' + SPACE(4)+ 'karaalp'
