--SELECT * FROM ogrenci

--CREATE PROC ogrlistele
--@cinsiyet varchar(1),
--@idsi int
--AS
--BEGIN
--   SELECT * FROM ogrenci WHERE cins=@cinsiyet and ogrid>idsi
--END   


--exec ogrlistele2 K,10002
